<%- include('./partial/head') -%>
<body>
    <main>
        <h1>Detail page</h1>
        <section id="section">
            <% const img = kunst.webImage.url.slice(0, -3) + "=s1000" %>
            <article class="observed">
                <h2><%= kunst.title %></h2>
                <img src=" <%= img %>" alt="gedetaileerd kunststuk">
            </article>
            <a class="terug" href="/">Home</a> 


        </section>
    </main>
    <footer>
        <h3 id="empty"></h3>
    </footer>
</body>
<%- include('./partial/foot.ejs') -%>
