<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial"charset="UTF-8">
    <meta name="description" content="Rijksmuseum app">
    <title>Noderijks</title>
    <!-- <script type="module" src="script.js"></script> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="manifest" href="/manifest.json" />
    <script src="/js/script.js" type="module" ></script>
</head>